[user]
	name = Vincent Orback
	email = hello@vincentorback.se
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/vincent/.gitignore_global
	editor = code
[pager]
	branch = false
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
